
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, code, del, em, img, q, s, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
}
abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none outside none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
body {
    background-color: #FFFFFF;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding-top: 58px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    width: 100%;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
a {
    color: #ff6699;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}
a:hover {
    color: #66ccff;
    text-decoration: underline;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
p, .cbi-map-descr, .cbi-section-descr {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}
p small {
    color: #BFBFBF;
    font-size: 11px;
}
h1, h2, h3, h4, h5, h6 {
    color: #ff6699;
    font-weight: bold;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #404040;
}
h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 18px;
}
h1 small {
    font-size: 18px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
h2 small {
    font-size: 14px;
}
h3, h4, h5, h6 {
    line-height: 36px;
}
h3 {
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4 {
    font-size: 16px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 14px;
}
h6 {
    color: #BFBFBF;
    font-size: 13px;
    text-transform: uppercase;
}
ul, ol {
    margin: 0 0 18px 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc outside none;
}
ol {
    list-style: decimal outside none;
}
li {
    color: #808080;
    line-height: 18px;
}
ul.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
dl {
    margin-bottom: 18px;
}
dl dt, dl dd {
    line-height: 18px;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 9px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EEEEEE;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin: 20px 0 19px;
}
strong {
    font-style: inherit;
    font-weight: bold;
}
em {
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
}
small {
    font-size: 0.9em;
}
address {
    display: block;
    line-height: 18px;
    margin-bottom: 18px;
}
code, pre {
    border-radius: 3px 3px 3px 3px;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
code {
    background-color: #FEE9CC;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
form {
    margin-bottom: 18px;
}
fieldset {
    margin-bottom: 9px;
    padding-top: 9px;
}
fieldset legend {
    color: #ff6699;
    display: block;
	text-transform: uppercase;
    font-size: 19.5px;
    line-height: 1;
    padding-top: 20px;
}
form .clearfix, form .cbi-value {
    margin-bottom: 18px;
    overflow: hidden;
}
form .clearfix:before, form .clearfix:after, form .cbi-value:before, form .cbi-value:after {
    content: "";
    display: table;
}
label, input, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}
form .input, form .cbi-value-field {
    margin-left: 150px;
}
form .cbi-value label.cbi-value-title {
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: right;
    width: 130px;
}
input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}
select {
}
input[type="checkbox"], input[type="radio"] {
    border: medium none;
    height: auto;
    line-height: normal;
    margin: 3px 0;
    padding: 0;
    width: auto;
}
input[type="file"] {
    background-color: #FFFFFF;
    box-shadow: none;
}
input[type="button"], input[type="reset"], input[type="submit"] {
    height: auto;
    width: auto;
}
select, input[type="file"] {
    height: 27px;
    line-height: 27px;
}
select[multiple] {
    background-color: #FFFFFF;
    height: inherit;
}
textarea {
    height: auto;
}
.uneditable-input {
    background-color: #FFFFFF;
    border-color: #EEEEEE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
    cursor: not-allowed;
    display: block;
}
:-moz-placeholder {
    color: #BFBFBF;
}
input, textarea {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
    box-shadow: none;
    outline: 1px dotted #666666;
}
form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
    color: #B94A48;
}
form .clearfix.error input, form .clearfix.error textarea {
    border-color: #EE5F5B;
    color: #B94A48;
}
form .clearfix.error input:focus, form .clearfix.error textarea:focus {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}
form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
    background-color: #FCE6E6;
    border-color: #B94A48;
    color: #B94A48;
}
form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
    color: #C09853;
}
form .clearfix.warning input, form .clearfix.warning textarea {
    border-color: #CCAE64;
    color: #C09853;
}
form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
    border-color: #BE9A3F;
    box-shadow: 0 0 6px #E5D6B1;
}
form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
    background-color: #D2B877;
    border-color: #C09853;
    color: #C09853;
}
form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
    color: #468847;
}
form .clearfix.success input, form .clearfix.success textarea {
    border-color: #57A957;
    color: #468847;
}
form .clearfix.success input:focus, form .clearfix.success textarea:focus {
    border-color: #458845;
    box-shadow: 0 0 6px #9ACC9A;
}
form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
    background-color: #BCDDBC;
    border-color: #468847;
    color: #468847;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
}
.actions, .cbi-page-actions {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    padding: 17px 20px 18px 150px;
    text-align: right;
}
.actions .secondary-action, .cbi-page-actions .secondary-action {
    float: right;
}
.actions .secondary-action a, .cbi-page-actions .secondary-action a {
    line-height: 30px;
}
.actions .secondary-action a:hover, .cbi-page-actions .secondary-action a:hover {
    text-decoration: underline;
}
.help-inline, .help-block {
    color: #BFBFBF;
    font-size: 13px;
    line-height: 18px;
}
.help-inline {
    padding-left: 5px;
}
.help-block {
    display: block;
    max-width: 600px;
}
table {
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 18px;
    padding: 0;
    width: 100%;
}
table th, table td {
    line-height: 18px;
    padding: 10px 10px 9px;
    text-align: left;
}
table th {
    font-weight: bold;
    padding-top: 9px;
    vertical-align: middle;
}
table td {
    border-top: 1px solid #DDDDDD;
    vertical-align: top;
}
table tbody th {
    border-top: 1px solid #DDDDDD;
    vertical-align: top;
}
header {
    color: #BFBFBF;
    height: 40px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
header a {
    color: #ff6699;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
header h3 a:hover, header .brand:hover, header ul .active > a {
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
    text-decoration: none;
}
header h3 {
    position: relative;
}
header h3 a, header .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}
header p {
    line-height: 40px;
    margin: 0;
}
header .fill {
	background-image: url(header.png);
	background-repeat: no-repeat;
	background-position: left;
    background-color: #222222;
}
header div > ul, .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
header div > ul > li, .nav > li {
    display: block;
    float: left;
}
header div > ul a, .nav a {
    display: block;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
}
header div > ul a:hover, .nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
header div > ul .active > a, .nav .active > a {
    background-color: rgba(0, 0, 0, 0.5);
}
header div > ul.secondary-nav, .nav.secondary-nav {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
header div > ul.secondary-nav .menu-dropdown, .nav.secondary-nav .menu-dropdown, header div > ul.secondary-nav .dropdown-menu, .nav.secondary-nav .dropdown-menu {
    border: 0 none;
    right: 0;
}
header div > ul a.menu:hover, .nav a.menu:hover, header div > ul li.open .menu, .nav li.open .menu, header div > ul .dropdown-toggle:hover, .nav .dropdown-toggle:hover, header div > ul .dropdown.open .dropdown-toggle, .nav .dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
}
header div > ul .menu-dropdown, .nav .menu-dropdown, header div > ul .dropdown-menu, .nav .dropdown-menu {
    background-color: #333333;
}
header div > ul .menu-dropdown a.menu, .nav .menu-dropdown a.menu, header div > ul .dropdown-menu a.menu, .nav .dropdown-menu a.menu, header div > ul .menu-dropdown .dropdown-toggle, .nav .menu-dropdown .dropdown-toggle, header div > ul .dropdown-menu .dropdown-toggle, .nav .dropdown-menu .dropdown-toggle {
    color: #FFFFFF;
}
header div > ul .menu-dropdown a.menu.open, .nav .menu-dropdown a.menu.open, header div > ul .dropdown-menu a.menu.open, .nav .dropdown-menu a.menu.open, header div > ul .menu-dropdown .dropdown-toggle.open, .nav .menu-dropdown .dropdown-toggle.open, header div > ul .dropdown-menu .dropdown-toggle.open, .nav .dropdown-menu .dropdown-toggle.open {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
}
header div > ul .menu-dropdown li a, .nav .menu-dropdown li a, header div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
    color: #ff6699;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
header div > ul .menu-dropdown li a:hover, .nav .menu-dropdown li a:hover, header div > ul .dropdown-menu li a:hover, .nav .dropdown-menu li a:hover {
    background-color: #191919;
    background-image: -moz-linear-gradient(center top , #292929, #191919);
    background-repeat: repeat-x;
    color: #FFFFFF;
}
header div > ul .menu-dropdown .active a, .nav .menu-dropdown .active a, header div > ul .dropdown-menu .active a, .nav .dropdown-menu .active a {
    color: #ff6699;
}
header div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider, header div > ul .dropdown-menu .divider, .nav .dropdown-menu .divider {
    background-color: #222222;
    border-color: #444444;
}
header ul .menu-dropdown li a, header ul .dropdown-menu li a {
    padding: 4px 15px;
}
li.menu, .dropdown {
    position: relative;
}
a.menu:after, .dropdown-toggle:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FFFFFF;
    content: "&darr;
    display: inline-block;
    height: 0;
    margin-left: 4px;
    margin-top: 8px;
    opacity: 0.5;
    text-indent: -99999px;
    vertical-align: top;
    width: 0;
}
.menu-dropdown, .dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 220px;
    min-width: 160px;
    padding: 6px 0;
    position: absolute;
    top: 40px;
    z-index: 900;
}
.menu-dropdown li, .dropdown-menu li {
    display: block;
    float: none;
}
.menu-dropdown .divider, .dropdown-menu .divider {
    background-color: #EEEEEE;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
}
header .dropdown-menu a, .dropdown-menu a {
    clear: both;
    color: #808080;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 4px 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}
header .dropdown-menu a:hover, .dropdown-menu a:hover, header .dropdown-menu a.hover, .dropdown-menu a.hover {
    background-color: #DDDDDD;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.024) inset, 0 -1px rgba(0, 0, 0, 0.024) inset;
    color: #404040;
    text-decoration: none;
}
.open .menu, .dropdown.open .menu, .open .dropdown-toggle, .dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
.open .menu-dropdown, .dropdown.open .menu-dropdown, .open .dropdown-menu, .dropdown.open .dropdown-menu {
    display: block;
}
.dropdown:hover ul.dropdown-menu {
    display: block;
}
.dropdown-menu .dropdown-menu {
    left: 159px;
    position: absolute;
}
.dropdown-menu li {
    position: relative;
}
.tabs, .cbi-tabmenu {
    list-style: none outside none;
    margin: 0 0 18px;
    padding: 0;
}
.tabs:before, .cbi-tabmenu:before, .tabs:after, .cbi-tabmenu:after {
    content: "";
    display: table;
}
.tabs:after, .cbi-tabmenu:after {
    clear: both;
}
.tabs > li, .cbi-tabmenu > li {
    float: left;
}
.tabs > li > a, .cbi-tabmenu > li > a {
    display: block;
}
.tabs, .cbi-tabmenu {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 0 1px;
}
.tabs > li, .cbi-tabmenu > li {
    margin-bottom: -1px;
    position: relative;
}
.tabs > li > a, .cbi-tabmenu > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 34px;
    margin-right: 2px;
    padding: 0 15px;
}
.tabs > li > a:hover, .cbi-tabmenu > li > a:hover {
    background-color: #EEEEEE;
    border-color: #EEEEEE #EEEEEE #DDDDDD;
    text-decoration: none;
}
.tabs .active > a, .tabs .active > a:hover, .cbi-tabmenu .active > a, .cbi-tabmenu .active > a:hover, .cbi-tab > a:link, .cbi-tab > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #808080;
    cursor: default;
}
.tabs .menu-dropdown, .tabs .dropdown-menu, .cbi-tabmenu .menu-dropdown, .cbi-tabmenu .dropdown-menu {
    border-radius: 0 6px 6px 6px;
    border-width: 1px;
    top: 35px;
}
.tabs a.menu:after, .tabs .dropdown-toggle:after, .cbi-tabmenu a.menu:after, .cbi-tabmenu .dropdown-toggle:after {
    border-top-color: #999999;
    margin-left: 5px;
    margin-top: 15px;
}
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle, .cbi-tabmenu li.open.menu .menu, .cbi-tabmenu .open.dropdown .dropdown-toggle {
    border-color: #999999;
}
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after, .cbi-tabmenu li.open a.menu:after, .cbi-tabmenu .dropdown.open .dropdown-toggle:after {
    border-top-color: #555555;
}
.tab-content > .tab-pane, .tab-content > div {
    display: none;
}
.tab-content > .active {
    display: block;
}
.breadcrumb {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin: 0 0 18px;
    padding: 7px 14px;
}
.breadcrumb li {
    display: inline;
    text-shadow: 0 1px 0 #FFFFFF;
}
.breadcrumb .divider {
    color: #BFBFBF;
    padding: 0 5px;
}
.breadcrumb .active a {
    color: #404040;
}
footer {
    border-top: 1px solid #EEEEEE;
    margin-top: 17px;
    padding-top: 17px;
}
.btn.danger, .alert-message.danger, .btn.danger:hover, .alert-message.danger:hover, .btn.error, .alert-message.error, .btn.error:hover, .alert-message.error:hover, .btn.success, .alert-message.success, .btn.success:hover, .alert-message.success:hover, .btn.info, .alert-message.info, .btn.info:hover, .alert-message.info:hover {
    color: #FFFFFF;
}
.btn .close, .alert-message .close {
    font-family: Arial,sans-serif;
    line-height: 18px;
}
.btn.danger, .alert-message.danger, .btn.error, .alert-message.error {
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
    background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
    background-color: #339BB9;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn, .cbi-button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.btn:hover, .cbi-button:hover {
    color: #333333;
    text-decoration: none;
}
.btn:focus, .cbi-button:focus {
    outline: 1px dotted #666666;
}
.btn.primary, .cbi-page-actions .cbi-button-apply, .cbi-page-actions .cbi-button-save {
    background-color: #ff6699;
    background-image: -moz-linear-gradient(center top , #ff6699, #000000);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.cbi-button-up {
    background-image: url("../resources/cbi/up.gif"), -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-position: center center;
}
.cbi-button-down {
    background-image: url("../resources/cbi/down.gif"), -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-position: center center;
}
.btn.active, .btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn.large {
    border-radius: 6px 6px 6px 6px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}
.btn.small {
    font-size: 11px;
    padding: 7px 9px;
}
.Startup .cbi-section-table input.cbi-input-apply, .Startup .cbi-section-table input.cbi-button-apply {
    background-image: url("../resources/cbi/apply.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-reload, .Startup .cbi-section-table input.cbi-input-reload {
    background-image: url("../resources/cbi/reload.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-remove, .Processes .cbi-section-table div.cbi-section-remove input, .Startup .cbi-section-table input.cbi-input-remove, .Startup .cbi-section-table div.cbi-section-remove input {
    background-image: url("../resources/cbi/remove.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-reset, .Processes .cbi-section-table input.cbi-button-reset, .Startup .cbi-section-table input.cbi-input-reset, .Startup .cbi-section-table input.cbi-button-reset {
    background-image: url("../resources/cbi/reset.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Startup .cbi-section-table input.cbi-input-save, .Startup .cbi-section-table input.cbi-button-save {
    background-image: url("../resources/cbi/save.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
:root .alert-message, *:root .btn {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    opacity: 0.25;
    text-shadow: 0 1px 0 #FFFFFF;
}
.close:hover {
    color: #000000;
    opacity: 0.4;
    text-decoration: none;
}
.alert-message {
    background-color: #EEDC94;
    background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #404040;
    margin-bottom: 18px;
    padding: 7px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-message .close {
    margin-top: 1px;
}
.alert-message a {
    color: #404040;
    font-weight: bold;
}
.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a {
    color: #FFFFFF;
}
.alert-message h5 {
    line-height: 18px;
}
.alert-message p {
    margin-bottom: 0;
}
.alert-message div {
    line-height: 28px;
    margin-bottom: 2px;
    margin-top: 5px;
}
.alert-message .btn {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.label {
    background-color: #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-size: 9.75px;
    font-weight: bold;
    padding: 1px 3px 2px;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
}
a.label:link, a.label:visited {
    color: #FFFFFF;
}
a.label:hover {
    text-decoration: none;
}
.label.important {
    background-color: #C43C35;
}
.label.warning {
    background-color: #F89406;
}
.label.success {
    background-color: #00ffcc;

}
.label.notice {
    background-color: #62CFFC;
}
.hidden {
    display: none;
}
#memtotal > div, #memfree > div, #memcache > div, #membuff > div, #conns > div {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
}
#xhr_poll_status {
    cursor: pointer;
}
form.inline {
    display: inline;
}
header .pull-right {
    padding-top: 8px;
}
#modemenu li:last-child span.divider {
    display: none;
}
#syslog {
    width: 100%;
}
.cbi-section-table tbody tr:nth-child(2n+1) td, .cbi-section-table tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}
.cbi-section-table tbody tr:hover td, .cbi-section-table tbody tr:hover th {
    background-color: #F5F5F5;
}
.cbi-section-table tr.cbi-section-table-descr th {
    font-weight: normal;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}
.cbi-value-field {
    line-height: 1.5em;
}
.cbi-value-field input[type="checkbox"], .cbi-value-field input[type="radio"] {
    margin-right: 6px;
    margin-top: 8px;
}
table table td, .cbi-value-field table td {
    border: medium none;
}
table.cbi-section-table input, table.cbi-section-table textarea, table.cbi-section-table select {
    width: auto;
}
table.cbi-section-table td.cbi-section-table-cell {
    text-align: right;
    white-space: nowrap;
}
.cbi-value-description {
    display: inline;
}
.cbi-value-description img {
    vertical-align: middle;
}
.ifacebox {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
}
.ifacebox .ifacebox-head {
    border-bottom: 1px solid #CCCCCC;
    padding: 2px;
}
.ifacebox .ifacebox-body {
    padding: 6px;
}
.ifacebadge {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-left: 2px;
    padding: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
}
.ifacebadge-active {
    border-color: #000000;
    font-weight: bold;
}
.zonebadge {
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
}
.zonebadge em, .zonebadge strong {
    display: inline-block;
    margin: 5px;
}
.zonebadge input {
    height: 1em;
    width: 6em;
}
.zonebadge-empty {
    border: 1px dashed #AAAAAA;
    color: #AAAAAA;
    font-size: smaller;
    font-style: italic;
}
div.cbi-value var, td.cbi-value-field var {
    color: #0069D6;
    font-style: italic;
}
.uci-change-list {
    font-family: monospace;
}
.uci-change-list ins, .uci-change-legend-label ins {
    background-color: #CCFFCC;
    border: 1px solid #00FF00;
    display: block;
    padding: 2px;
    text-decoration: none;
}
.uci-change-list del, .uci-change-legend-label del {
    background-color: #FFCCCC;
    border: 1px solid #FF0000;
    display: block;
    font-style: normal;
    padding: 2px;
    text-decoration: none;
}
.uci-change-list var, .uci-change-legend-label var {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    display: block;
    font-style: normal;
    padding: 2px;
    text-decoration: none;
}
.uci-change-list var ins, .uci-change-list var del {
    border: medium none;
    font-style: normal;
    padding: 0;
    white-space: pre;
}
.uci-change-legend {
    padding: 5px;
}
.uci-change-legend-label {
    float: left;
    width: 150px;
}
.uci-change-legend-label > ins, .uci-change-legend-label > del, .uci-change-legend-label > var {
    display: block;
    float: left;
    height: 10px;
    margin-right: 4px;
    width: 10px;
}
.uci-change-legend-label var ins, .uci-change-legend-label var del {
    border: medium none;
    line-height: 6px;
}